.job-bg-container {
  background-color: #121212;
  display: flex;
  flex-direction: column;
}
.bg-con {
  display: flex;
}
.another-bg-con {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
