.fg-bg-container {
  background-color: transparent;
}
.success-view-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/profile-bg.png');
  background-size: cover;
  height: 250px;
  width: 350px;
  margin-left: 15px;
  border-radius: 7px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-top: 150px;
}
.sv-img-con {
  border-radius: 40px;
  margin-left: 10px;
}
.sv-name-con {
  color: #4f46e5;
  font-size: 25px;
  margin-left: 10px;
  font-size: 'Roboto';
}
.sv-para-con {
  font-size: 20px;
  margin-left: 10px;
}
.horizontal-line {
  width: 85%;
}
.emp-heading {
  color: #ffffff;
  font-size: 25px;
  text-align: center;
}
.label-heading {
  color: #ffffff;
  font-size: 20px;
  margin-left: 15px;
}
.salary-heading {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
}
.radio-heading {
  color: #ffffff;
  font-size: 25px;
  margin-left: 15px;
}
