.home-container {
  background-image: url('https://assets.ccbp.in/frontend/react-js/home-lg-bg.png');
  background-size: cover;
  height: 100vh;
}
.home-heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: 25px;
  text-align: center;
}
.bg-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.para-heading {
  color: #ffffff;
  font-size: 25px;
  font-weight: 25px;
  text-align: center;
}
.home-button {
  border-radius: 7px;
  border-width: 0px;
  padding: 7px;
  color: #ffffff;
  background-color: #6366f1;
}
