.unordered-list {
  background-color: #121212;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1px;
  position: fixed;
  width: 100%;
  top: 0;
}
.wl-css {
  display: flex;
  justify-content: center;
  align-items: center;
}
.hj-css {
  display: flex;
  justify-content: center;
  align-items: center;
}
.home-heading {
  color: #ffffff;
  font-size: 25px;
  padding-right: 25px;
}
.job-heading {
  color: #ffffff;
  font-size: 25px;
}
.header-button {
  color: #ffffff;
  background-color: #4f46e5;
  padding: 7px;
  margin-right: 15px;
  border-radius: 7px;
  border-width: 0px;
}
